# Nemoulous natural gas project

I unzipped the data given to me by Jed. I see a bunch of files, one for each NG expiry. I know that the third letter in each name corresponds to the month of expiry, but I forget off the top of my head exactly what they all correspond to. Iâ€™m going to look that up:

source: https://www.cmegroup.com/month-codes.html

| Month | Code |
| ----- | ---- |
|January | F |
|February| G|
|March|H|
|April|J|
|May|K|
|June|M|
|July|N|
|August|Q|
|September|U|
|October|V|
|November|X|
|December|Z|

I spent a bit of time reworking the raw data. The data comes in separate files, with each contract having it's own time series of all minute candles.

In [5]:
from nemoulous.loader.db_candle_loader import DbCandleLoader

candles = DbCandleLoader('../nemoulous.db').load()

candles.head()

,time,open,high,low,close,vol_bid,vol_ask,vol,tcount,contract
0,2017-01-02 18:00,3.655,3.655,3.655,3.655,1,0,1,1,NGF18
1,2017-01-03 02:42,3.669,3.669,3.668,3.668,0,3,3,3,NGF18
2,2017-01-03 02:46,3.669,3.669,3.669,3.669,0,3,3,3,NGF18
3,2017-01-03 06:44,3.673,3.673,3.673,3.673,0,1,1,1,NGF18
4,2017-01-03 06:52,3.673,3.673,3.673,3.673,0,3,3,3,NGF18

Above are the candles that we've received. We can also see that we have 24 contracts.

In [9]:
print(candles['contract'].unique())
len(candles['contract'].unique())

['NGF18' 'NGF19' 'NGG18' 'NGG19' 'NGH18' 'NGH19' 'NGJ18' 'NGJ19' 'NGK18'
 'NGK19' 'NGM18' 'NGM19' 'NGN18' 'NGN19' 'NGQ18' 'NGQ19' 'NGU18' 'NGU19'
 'NGV18' 'NGV19' 'NGX18' 'NGX19' 'NGZ18' 'NGZ19']

24

Using the data in this format will be useful for certain types of analyses, but other will require the data to be transformed. One such transformation I've undertaken was to pivot the table, with rows representing single minute buckets, and the colums representing each month in the term structure.

In [2]:
from nemoulous.loader.db_term_structure_loader import DbTermStructureLoader

ts = DbTermStructureLoader('../nemoulous.db').load()

ts.head()

,product,type,tag,time,m0,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11
0,NG,CLOSE,MIN,2017-01-02 18:00,3.655,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NG,CLOSE,MIN,2017-01-03 02:42,3.668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NG,CLOSE,MIN,2017-01-03 02:46,3.669,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NG,CLOSE,MIN,2017-01-03 06:44,3.673,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NG,CLOSE,MIN,2017-01-03 06:52,3.673,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

So here, we have the close value for the term structure. I also have loaded the term structure of the volume for these contracts, as that may be useful as well.